<?xml version="1.0" encoding="utf-8"?><HelpTOCNode Title="ICoordinatesRemapper Interface" Url="html/T_TouchScript_InputSources_ICoordinatesRemapper.htm"><HelpTOCNode Title="ICoordinatesRemapper Methods" Url="html/Methods_T_TouchScript_InputSources_ICoordinatesRemapper.htm" HasChildren="true" /></HelpTOCNode>